/.vscode/
/.vscode-ctags
/build/
/include/asm/generated/
/work_record/
/tools/
/test/
/backup/
/Makefile.bak
/*.d
/*.lds
/core.*
/serial.log
/t.txt
/src/arch/aarch64/bootloader.S.bak
/compile_commands.json
